@use './variables' as *;

/* LAPTOPS */
@media (max-width: 1300px) { 

    body { 
        overflow-x: hidden;
    }
    .wrapper {   
        display: block;
        width: 80%;
        margin: 0 auto; 
        max-width: 1100px;
    } 

    .mainMenu {
        display: none;  
        position: fixed; 
        background-color: rgba(255, 255, 255, 0.898); 
        top: 55px;
        right: 0; 
        width: 200px;
        height: 100%;
        transition: transform 0.3s ease-out; 
        z-index: 500; 
        a { 
            color: rgb(0, 0, 0); 
            padding-left: 10px; 
            font-size: 1.4rem;
        }
    } 

    .socials { 
        display: none;
    }

    .contactContent { 
        .socials {  
            display: block;
            font-size: 2rem;
        }
    }
     
    .show { 
        display: flex; 
        flex-direction: column; 
        transform: translateX(0);
    }

    nav .openMenu { 
        display: block;
    }
    
    .headerFlex { 
        justify-content: space-between; 
        position: relative; 
        width: 100%;
    } 

    .headerFlex .openMenu { 
        display: block;
    }
    
    .profilePic { 
        display: flex; 
        justify-content: center;
        img { 
            width: 50%; 
            height: auto; 
            margin-bottom: 35px;
        }
    }

    .home { 
        height: 100vh; 

        h2 { 
            font-size: 2rem;
        } 

        .webDeveloper { 
            font-size: 3rem;
        }
    }
    .container { 
        flex-direction: column-reverse; 
        max-width: 900px;
    } 

    .homeText { 
        display: flex; 
        text-align: center;
    } 

    .aboutSection { 
        .myDetails { 
        flex-direction: column; 
        text-align: center;
        .myDetail { 
            display: flex; 
            justify-content: center; 
            flex-direction: column; 
            h3 { 
                text-align: center; 
                margin: 0
            }
        }
    } 
    } 

    .resumeSection { 
        h3 { 
            span { 
                display: block; 
                width: 50%; 
                margin: 0 auto; 
                margin-top: 20px;
            }
        }
    }
    
    .resumeContainers {
        flex-direction: column;
    }

    .resumeContainers {

        .educationContainer,
        .workContainer {
            width: 100%;
        }
    }

} 

/* SMALLER SCREENS */
@media (max-width: 1000px) { 

    .wrapper { 
        width: 95%; 
        margin: 0 auto; 
        max-width: 800px;
    } 

    .home { 
        img { 
            width: 50%;  
            border: 3px solid white;
        }
    }
    .aboutSection { 
        .aboutText { 
       text-align: center;
    }
    } 

    .skillsSection .row1, 
    .skillsSection .row2 { 
        flex-wrap: wrap;
    } 
.container {  
    .resumeContainers { 
        .educationContainer, 
    .workContainer { 
        border-left: none;
    }
    }
    
}
    
.faqContent { 
    flex-direction: column;  
    padding: 0 40px; 

    .questionContainer { 
        width: 100%; 
    }  

    img { 
        display: none; 
    }
} 

.contactContent { 
    flex-direction: column; 

    .contactTextContainer, 
    .contactFormContainer { 
        width: 100%; 
        text-align: center;
    } 
}
} 

/* TABLETS */
@media (max-width: 800px) { 
    .home { 
        padding-top: 50px;
        img { 
            width: 50%; 
            height: auto; 
            border: 2px white solid; 
            margin: 0;
        }
    }
    .projectSection { 
        ul { 
            flex-direction: column;
        }
    }

ul li .imageTextMobile { 
    display: block;
} 

.imgText1 { 
    display: none;
} 

.fa-arrow-down { 
    display: none;
}

} 




/* CELL PHONES */
@media (max-width: 500px) {  

body { 
    overflow-x: hidden;
}

.headerFlex { 
    h1 { 
        font-size: 1.1rem; 
        padding-top: 5px;

    }
}
.wrapper { 
    width: 95%;
}  

.home {  
    
    .container { 
        display: flex; 
        flex-direction: column-reverse; 
        justify-content: space-between;
    } 

    .homeLinks { 
        margin: 0;
    } 

    h2 { 
        font-size: 1.2rem; 
        font-weight: 400; 
    } 
    .webDeveloper { 
        font-size: 2rem;
    }
}

h1 { 
    padding: 0;
}  

.webDeveloper { 
    white-space: normal;
} 

.homeLinks { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin: 0;
    
    a.buttonBlack { 
        margin-bottom: 25px; 
        margin-right: 0; 
        width: 100%;
    } 

    a.contactLink { 
        margin: 0;
    }
}
.resumeSection {
.educationContainer,
    .workContainer {
        margin-top: 35px;
        padding: 0 40px;
        width: 100%; 

        .containerTitle { 
            text-align: center; 
        }

         .containerContent {
            border-left: none;
            text-align: center; 
            padding: 0;
        } 
    } 
} 

.contactSection { 
    form { 
        .buttonBlack { 
            width: 100%; 
            padding: 25px 15px;

        }
    }
}
footer { 
     .footerContainer { 
        flex-direction: column;
        .footerText { 
            text-align: center;
        }
    } 
    ul { 
        display: none;
    }
}

}





   
