/* fonts */
$body-font: 'Poppins', sans-serif;
$title-font: 'Poppins', sans-serif;

/* base colours */
$primary-color: #456440;
$primary-color-hover: darken($primary-color, 7%);
$secondary-color: #939597;
$body-bg: #dddddd; 
$white1: #ffffff; 
$white2: #f7f7f7;

/* icon colours */
$github: #333333;
$linkedin: #0E76A8;
$twitter: #00ACEE;